<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Java-proov-2H</display-name>

<!--
	<welcome-file-list>
		<welcome-file>jsp/index.jsp</welcome-file>
	</welcome-file-list>
-->

	<servlet>
		<display-name>Default</display-name>
		<servlet-name>Default</servlet-name>
		<servlet-class>controller.Default</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Default</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
</web-app>















	<!-- 
	applicationContext.xml 
	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	 -->

	<!-- http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/orm/hibernate4/support/OpenSessionInViewFilter.html -->
	<!--
	<filter>
	    <filter-name>Spring OpenSessionInViewFilter</filter-name>
	    <filter-class>
	        org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
	    </filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>Spring OpenSessionInViewFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	    
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    
	</filter-mapping>
	-->

	<!-- 
	<welcome-file>index.html</welcome-file>
	<welcome-file>index.htm</welcome-file>

	<welcome-file>default.html</welcome-file>
	<welcome-file>default.htm</welcome-file>
	<welcome-file>default.jsp</welcome-file>

	<welcome-file>register.jsp</welcome-file>
	 -->

	<!-- 
	<servlet>
		<display-name>User</display-name>
		<servlet-name>User</servlet-name>
		<servlet-class>controller.UserControllerServlet</servlet-class>
	</servlet>
	-->
	<!--
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	-->
	
	<!-- 
	<servlet>
		<display-name>Success</display-name>
		<servlet-name>Success</servlet-name>
		<servlet-class>controller.Success</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Success</servlet-name>
		<url-pattern>/Success</url-pattern>
	</servlet-mapping>
	 -->