* {
	/*font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	font-family: arial,sans-serif;
}

body {
	/* background: rgb(38, 38, 38); */
	background: rgb(239, 239, 239);
	color: rgb(0,0,0);
}
/* .dataEntry */
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  /* font-size: medium !important; that means 14px */
  appearance: none;
  box-shadow: none;
  /*border-radius: none;*/
  border-radius: 2px;
  
  padding: 10px;
  /*border: solid 1px rgb(220,220,220);*/
  border: 1px solid rgb(217,217,217); /*#d9d9d9*/
  border-top: 1px solid rgb(200,200,200); /*silver*/

  
  
  /*box-shadow: 10px 10px 5px #888888;*/
  transition: box-shadow 0.3s, border 0.3s;
}
.dataEntry:hover {
   /*box-shadow: 0 0 3px #515151;*/
   box-shadow: 0 0 5px 1px #969696;
}
/*
.dataEntry :focus {
  outline: none;
}
*/
input[type="text"]:focus,
input[type="text"].focus {
  	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #969696;
  
  /* REMOVE OUTLINE WHEN SELECTED */
  	outline-style:none;
	/*box-shadow:none;
	border-color:transparent;*/
}

.dataEntry1 {
    /*-webkit-border-radius: 2px;*/
    height: 28px;
    margin: 0;
    overflow: hidden;
    padding: 1px 6px;
    text-align: right;
    line-height: 28px;
    
    width:90%;
    color: rgb(120,120,120) !important;
    
    transition: box-shadow 0.3s, border 0.3s;
}

.dataSelect {
	/*border:none*/
    /*border: 1px solid rgb(217,217,217);*/
    border-top: 3px solid red;
    
    border-radius: 2px;
   	/*border-radius: 0px 3px 3px 0px;*/
    /*-webkit-border-radius: 2px;*/
    list-style: none;

    border-color: rgb(169, 169, 169);
    padding-left: 5px;
	width:300px;
	height:30px;
	background-color: whiteSmoke;
    background-image: -webkit-linear-gradient(top,whiteSmoke,rgb(241,241,241));
}

#floating-box {
    display: inline-block;
    background: rgb(255,255,255);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    padding: 20px 20px 24px 20px;
    line-height: 1.2;
    margin: 40px;
    
    /*width: 150px;
    height: 75px;
    margin: 10px;*/
    /*display: flex;
    flex-direction: row-reverse;*/
    /* border: 3px solid #73AD21; */
}