* {
	/*font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	font-family: arial,sans-serif;
}

body {
	/* background: rgb(38, 38, 38); */
	background: rgb(239, 239, 239);
	color: rgb(0,0,0);
}
#floating-box-container{
    text-align: center;
}
#floating-box {
    display: inline-block;
    background: rgb(255,255,255);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    padding: 20px 20px 24px 20px;
    line-height: 1.2;
    margin: 30px 10px 10px 10px;
    
    /*width: 150px;
    height: 75px;
    margin: 10px;*/
    /*display: flex;
    flex-direction: row-reverse;*/
    /* border: 3px solid #73AD21; */
}

.dataEntry {
/*input[type="text"] { */
	vertical-align: middle;	
	/*color: rgb(38,38,38) !important;*/
	display: block;
    text-align: right;
	width: 100%;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
	height: 28px;
	line-height: 28px;
	padding: 0 8px;
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 14px;
	/* font-size: medium !important; that means 14px */
	appearance: none;
	box-shadow: none;
	/*box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);*/
	
	/*border: solid 1px rgb(220,220,220);*/
	border: 1px solid rgb(217,217,217); /*#d9d9d9*/
	border-top: 1px solid rgb(200,200,200); /*silver*/
	border-radius: 2px;

	transition: box-shadow 0.2s, border 0.2s;
}
.dataEntry:hover { /*input[type="text"]:hover {*/
	/*background-color: yellow;*/
}
.dataEntry:focus { /*input[type="text"]:focus {*/
	background-color: yellow;
}

.dataSelect {
	/*border:none;*/
	border: 1px solid rgb(217,217,217); /*#d9d9d9*/
	border-top: 1px solid rgb(200,200,200); /*silver*/
	border-radius: 2px;
	
    list-style: none;
    
    /*border-color: red; rgb(169, 169, 169);*/
	border-radius: 2px;
	
	/*border: 3px solid red;*/
    /*border: 1px solid rgb(217,217,217);*/
    /*border-top: 3px solid red;*/
    
   	/*border-radius: 0px 3px 3px 0px;*/
    /*-webkit-border-radius: 2px;*/
    
    padding-left: 5px;
	/*width:300px;*/
	width:100%;
	height:30px;
	background-color: rgb(250,250,250); /* whiteSmoke */
    background-image: -webkit-linear-gradient(top,rgb(250,250,250),rgb(230,230,230));
}

.hoverShadow {
	box-shadow: none;
}
.hoverShadow:focus {
	border: solid 1px rgb(112,112,112); /*#707070*/
	box-shadow: 0 2px 6px 1px rgb(150,150,150);
  	/* BEFORE box-shadow: 0 0 5px 1px rgb(150,150,150); */ /*#969696*/
	/* REMOVE BLUE OUTLINE WHEN SELECTED */
	outline: none;
	/*box-shadow:none;
	border-color:transparent;*/
}
.hoverShadow:hover {
	box-shadow: 0 2px 6px 1px rgb(200,200,200);
	/*BEFORE: box-shadow: 0 0 7px 1px rgb(200,200,200); */
   /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
   /*box-shadow: 0 0 3px #515151;*/
   /*box-shadow: 0 1px 4px 0px rgb(170,170,170);*/
   /*box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);*/
}

/* .dataSelect.focus .dataSelect:active */

#resultsTableContainer table, #resultsTableContainer tbody, #resultsTableContainer th, #resultsTableContainer  tr, #resultsTableContainer  td {
   	border: 1px solid rgb(217,217,217);
  	border-top: 1px solid rgb(200,200,200);
  	
	background-color: rgb(250,250,250); /* whiteSmoke */
    background-image: -webkit-linear-gradient(top,rgb(250,250,250),rgb(230,230,230));
    
    border-radius: 2px;
}
#resultsTableContainer td {
	/*width: 100%;*/
}
#resultsTableContainer table {

	/*border-collapse: collapse;*/
	width: 100%;
	margin-top: 30px;	
}
.tdInfo {
	text-align: left;
	padding-right: 10px;
}


#swapCurrenciesBtn {
	width: 100%;
	display: inline-block;
    padding: 5px 10px;
    color: black;
	background-color: rgb(100,150,200);
    text-align: center;
    text-decoration: none;
    
	border-radius: 2px;
   	border: 1px solid rgb(217,217,217);
  	border-top: 1px solid rgb(200,200,200);
	background-image: -webkit-linear-gradient(top,rgb(250,250,250),rgb(230,230,230));
}
/*
	outline: none;
	box-shadow: none;
	border: 1px solid rgb(217,217,217);
  	border-top: 1px solid rgb(200,200,200);
  	
*/

/*button*/
.gradientButton {	
	width:100%;
	/*height:40px;*/
	
	display: inline-block;
	margin: 0 10px 0 0;
	/*padding: 15px 45px;*/
	padding: 2px;
	font-size: 18px;
	/*font-family: "Bitter",serif;*/
	line-height: 1.8;
	appearance: none;
	
	color: #fff;
	/*text-shadow: -2px 2px #346392;*/
	background-color: rgb(100,150,200); /*#6496c8;*/
	/*background-image: linear-gradient(top, #6496c8, #346392);*/
	background-image: -webkit-linear-gradient(top,#6496c8,#346392);
	box-shadow: none;
	border: none;
	border-radius: 2px;
}
.gradientButton:focus {
	outline: none
}
.gradientButton:hover {
	box-shadow: 0 2px 6px 1px rgb(200,200,200);
	/*box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;*/
}
.gradientButton:active {
	box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}
/*
.customButton {
	color: #fff;
	background-color: #6496c8;
	border: none;
	border-radius: 15px;
	box-shadow: 0 10px #27496d;
}
.customButton:hover {
	background-color: #417cb8
}
.customButton:active {
	background-color: #417cb8;
	box-shadow: 0 5px #27496d;
	transform: translateY(5px);
}
*/




